* {
    margin: 0;
}

header {
    height: 59px;
    background-color: #32325D;
    padding: 15px, 79px, 15px, 79px;
    padding-left: 70px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 999;
}

#brand {
    height: 40px;   
}

div h1 {
    width: 66px;
    height: 29px;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 600;
}

#title {
    width: 221px;
    height: 46px;
    color: #3A4F9A;
}

.flex {
    display: flex;
    align-items: center;
}

img {
    width: 28px;
    height: 28px;
}

header div {
    margin: 5px;
}

.title-position {
    margin-top: 167px;
    margin-left: 79px;
}

.title-position div {
    border-bottom: 3px solid #3A4F9A;
    margin-right: 88%;
}

.card {
    width: 409px;
    border-radius: 8px;
    height: 455px;
}
  
.img-card {
    width: 409px;
    height: 273px;
}
  
.title-card {
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    color: #3A4F9A;
}
  
p.description {
  font-size: 13px;
  font-family: Inter;
  font-weight: 300;
  color: #575757;
  margin-top: 7px;
}

.expand {
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limite de 3 linhas */
    -webkit-box-orient: vertical;
    line-height: 20px;
    overflow: hidden;
}

.progress-bar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.block-card {
    border: 1px solid #FFFFFF;
    position: relative;
    z-index: 1; /* Valor maior para colocar a descrição na frente */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.block-card div {
    padding: 14px;
}

.expand-button {
    appearance: none;
    border: none;
    background-color: transparent;
    font-family: Inter;
    font-weight: 700;
    line-height: 20px;
    color: #3A4F9A;
    margin-left: 80%;
}

a {
   text-decoration: none;
   color: inherit;
   cursor: default; 
}

/* responsive */
@media(max-width: 450px) {
    .progress-bar {
        display: block;
    }

    header {
        position: relative;
        width: auto;
    }

    main {
        padding: 8px;
    }
}