@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap');

* {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0.5rem;
    
}

::-webkit-scrollbar-thumb {
    background: #3A4F9A4D;
    border-radius: 4px;
}

body {
    background-color: white;
}

header {
    height: 59px;
    background-color: #32325D;
    padding: 15px, 79px, 15px, 79px;
    padding-left: 70px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 999;
}

#brand {
    height: 40px;   
}

div h1 {
    width: 66px;
    height: 29px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 600;
}

#title {
    width: 221px;
    height: 46px;
    color: #3A4F9A;
}

.flex {
    display: flex;
    align-items: center;
}

img {
    width: 28px;
    height: 28px;
}

header div {
    margin: 5px;
}

.title-position {
    margin-top: 167px;
    margin-left: 79px;
}

.title-position div {
    border-bottom: 3px solid #3A4F9A;
    margin-right: 87%;
}

.card {
    width: 409px;
    border-radius: 8px;
    height: 455px;
}
  
.img-card {
    width: 409px;
    height: 273px;
}
  
.title-card {
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 500;
    color: #3A4F9A;
}
  
p.description {
  font-size: 13px;
  font-family: 'Inter';
  font-weight: 300;
  color: #575757;
  margin-top: 7px;
}

.expand {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 20px;
    overflow: hidden;
}

.progress-bar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.block-card {
    border: 1px solid #FFFFFF;
    position: relative;
    z-index: 1; /* Valor maior para colocar a descrição na frente */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.block-card div {
    padding: 14px;
}

.expand-button {
    appearance: none;
    border: none;
    background-color: transparent;
    font-family: Inter;
    font-weight: 700;
    line-height: 20px;
    color: #3A4F9A;
    margin-left: 80%;
}

a {
   text-decoration: none;
   color: inherit;
   cursor: default; 
}

#arrow-icon {
    width: 75px;
    height: 75px;
    margin-top: 82px;
    margin-left: 34px;
    border: 0px;
    border-radius: 50%;
    background: linear-gradient(0deg, #32325D, #32325D),
    linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}

#arrow {
    margin-left: 11px;
    margin-top: 11px;
}

.container {
    display: flex;
}

.content {
    margin-top: 79px;
    justify-self: center;
    margin-left: 300px;
    width: 771px;
    height: 519px;
}

.img-card-detail {
    width: 771px;
    height: 311.4px;
}

.title-card-detail {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 10%;
    height: 20px;
    margin-left: 54.67px;
    margin-top: 15px;
    color: #3A4F9A;
}

p.description-detail {
    width: 676.75px;
    height: 124.33px;
    margin-left: 54.67px;
    margin-top: 15px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #575757;
}

.comments {
    margin-left: 65px;
    margin-top: 45px;
}

.border {
    border-bottom: 1px solid #575757;
    width: 639.01px;
    margin-top: 13px;
}

.user, .user-email {
    color: #3A4F9A;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
}

.block-card-detail {
    border: 1px solid #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 762px;
    height: 390px;
    margin-top: 55px;
    margin-left: 410px;
}

.paragraph-detail {
    font-family: 'Inter';
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
}

.comment p {
    margin-top: 10px;
}

.comment {
    max-width: 652.01px;
}

.top-60 {
    margin-top: 60px;
}

/* responsive */
@media(max-width: 450px) {
    .progress-bar {
        display: block;
    }

    header {
        position: relative;
        width: auto;
    }

    main {
        padding: 8px;
    }
}